<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="\stylesheets\processInfo.css">
    <title>Adopt Animal</title>
</head>
<body>
    <div id="content">
 
         <h2> Application Received </h2>
        <hr>

        <h4> Name: <%= name %></h4>
        <h4> Age: <%= age %></h4>
        <h4> Gender: <%= gender %></h4>
        <h4> Species: <%= pets %></h4>
        <h4> Additional Info: <br> <%= background %></h4>
 
        <br>
           <a id="home" href="/">HOME</a>
    </div>

 </body>
</html>